@charset "UTF-8";
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3336-6234-4233-b766-373937313632/Aquarelle.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3265-3331-4565-b162-353461633164/FontsFree-Net-saint-.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3864-3161-4630-b734-393130386131/KZ_RomulC.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6333-3437-4464-b839-386239306664/KZPFChampionScriptPr.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6165-3337-4239-b537-306163626536/BKANTKZ.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6463-6261-4932-a331-376663346366/Miama_Nueva_kz.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3331-3733-4131-b466-656663343736/KZ_ceremonious-three.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6639-3239-4531-b363-613337383862/Asylbekm02shelleyKz.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Romulc";
  color: #dffd8d;
  text-shadow: 1px 1px 1px #000;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: #dffd8d;
  text-shadow: 1px 1px 1px #000;
  font-size: 24px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 224, 230);
}

.wrapper {
  position: relative;
  overflow: hidden;
}

img {
  width: 100px;
}

button,
button:active,
button:focus {
  border: none;
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}

.btns {
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 50px;
}
.btns svg {
  background-color: lightblue;
  width: 50px;
  border-radius: 100px;
}

.btns.disabled {
  display: none;
}

button:active svg {
  background-color: black;
}

.bg_img_right {
  width: 300px;
  height: 500px;
  position: fixed;
  left: -20px;
  top: -50px;
  background-image: url(/hp/img/img10.png);
  background-size: 300px;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}

.bg_img_left {
  width: 300px;
  height: 500px;
  position: fixed;
  right: -20px;
  bottom: -50px;
  background-image: url(/hp/img/img10.png);
  background-size: 300px;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scaleX(-1);
  opacity: 0.5;
}

.flower_container {
  width: 100%;
  height: 300px;
}
.flower_container .flowers {
  position: absolute;
  overflow: hidden;
}
.flower_container .f1 {
  width: 300px;
  transform: rotate(120deg);
  top: -80px;
  left: -70px;
}
.flower_container .f2 {
  width: 300px;
  left: 200px;
  transform: rotate(220deg);
  top: -150px;
}
.flower_container .f3 {
  right: 0;
  transform: rotate(180deg);
  width: 250px;
  top: -80px;
}
.flower_container .r1 {
  transform: rotate(90deg);
  width: 250px;
  top: 400px;
  left: -90px;
}

.logo {
  margin: 0 auto;
}
.logo .name {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo .name .nf {
  transform: rotate(10deg);
  font-weight: 800;
  font-size: 5em;
}
.logo .name .ns {
  transform: rotate(10deg);
  font-weight: 800;
  font-size: 90px;
}
.logo .logo {
  margin: 0 auto;
}
.logo .logo .name {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo .logo .name .nf {
  transform: rotate(10deg);
  font-weight: 800;
  font-size: 5em;
}
.logo .logo .name .ns {
  transform: rotate(10deg);
  font-weight: 800;
  font-size: 90px;
}
.logo .logo .logo__years {
  position: relative;
  margin: 0 auto;
}
.section__welcome {
  text-align: center;
}
.section__welcome .title {
  margin: 20px;
  padding: 20px;
}
.section__welcome .text {
  padding: 10px;
}

.program {
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}
.program .h1 {
  text-transform: uppercase;
}
.program .h2 {
  font-weight: 800;
  font-size: 80px;
}
.program .rest {
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.program .rest img {
  width: 200px;
  border-radius: 100px;
}

.footer {
  height: 120px;
  margin: 50px 0 0 0;
  background-color: black;
  color: white;
}

.trent {
  transform: rotate(90deg);
  position: absolute;
  width: 300px;
  left: -100px;
  z-index: -1;
  display: block;
}

.trent-right {
  transform: rotate(-45deg);
  position: absolute;
  width: 400px;
  right: -100px;
  z-index: -1;
  display: block;
}

.fade-in {
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 2s; /* длительность анимации в 1 секунду */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated-element {
  position: absolute;
  animation: move-around 5s linear infinite; /* Бесконечная анимация */
}

@keyframes move-around {
  0%, 100% {
    transform: translate(0, 0); /* начальная и конечная позиция (нет движения) */
  }
  25% {
    transform: translate(2%, 0); /* движение вправо */
  }
  50% {
    transform: translate(5px, 5px); /* движение вправо и вниз */
  }
  75% {
    transform: translate(0, 5px); /* движение влево */
  }
}
@keyframes zoom-in-outf1 {
  0% {
    transform: scale(1); /* Initial scale is 1, which means normal size */
    transform: rotate(85deg);
  }
  50% {
    transform: scale(1.5); /* Zoom in to 110% of the original size */
    transform: rotate(88deg);
  }
  100% {
    transform: scale(1); /* Return to the normal size */
    transform: rotate(85deg);
  }
}
/* Apply the zoom-in-out animation to elements with the class 'zoom-element' */
.zoom-elementf1 {
  animation: zoom-in-outf1 5s ease-in-out infinite; /* Use the defined keyframe animation */
}

@keyframes zoom-in-outf2 {
  0% {
    transform: scale(1);
    transform: rotate(220deg);
  }
  50% {
    transform: scale(1.2);
    transform: rotate(222deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(220deg);
  }
}
.zoom-elementf2 {
  animation: zoom-in-outf2 6s ease-in-out infinite;
}

@keyframes zoom-in-outf3 {
  0% {
    transform: scale(1);
    transform: rotate(-180deg);
  }
  50% {
    transform: scale(1.2);
    transform: rotate(-183deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(-180deg);
  }
}
.zoom-elementf3 {
  animation: zoom-in-outf3 10s ease-in-out infinite;
}

@media screen and (max-width: 650px) {
  .logo .name .nf {
    font-size: 65px;
  }
  .logo .name .ns {
    font-size: 65px;
  }
  .logo .logo__years .logo__img {
    width: 350px;
  }
  .logo .logo__years .title {
    font-size: 70px;
  }
  .logo .logo__years .ty1 {
    left: 45%;
    top: 25%;
  }
  .logo .logo__years .ty2 {
    left: 45%;
    bottom: 30%;
  }
  .address {
    overflow-y: hidden;
    margin: 50px auto;
  }
  .program {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  .program .h1 {
    text-transform: uppercase;
  }
  .program .h2 {
    font-weight: 800;
    font-size: 60px;
  }
}
@media screen and (max-width: 450px) {
  .logo .logo__years .logo__img {
    width: 330px;
  }
  .logo .logo__years .title {
    font-size: 60px;
  }
  .logo .logo__years .ty1 {
    left: 45%;
    top: 25%;
  }
  .logo .logo__years .ty2 {
    left: 45%;
    bottom: 35%;
  }
  .program {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  .program .h1 {
    text-transform: uppercase;
  }
  .program .h2 {
    font-weight: 800;
    font-size: 45px;
  }
  .btns svg {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
