@charset "UTF-8";
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3336-6234-4233-b766-373937313632/Aquarelle.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3265-3331-4565-b162-353461633164/FontsFree-Net-saint-.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3864-3161-4630-b734-393130386131/KZ_RomulC.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6333-3437-4464-b839-386239306664/KZPFChampionScriptPr.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6165-3337-4239-b537-306163626536/BKANTKZ.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6463-6261-4932-a331-376663346366/Miama_Nueva_kz.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild3331-3733-4131-b466-656663343736/KZ_ceremonious-three.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Romulc";
  src: url("https://static.tildacdn.com/tild6639-3239-4531-b363-613337383862/Asylbekm02shelleyKz.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
.header {
  background-color: #704134;
  height: 60px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper .adress {
  margin: 0 auto;
  overflow-y: hidden;
}

h1,
h2 {
  font-family: "Romulc";
  color: #ff8562;
  margin: 20xp 0;
  line-height: 1.5;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: #ff8562;
  margin: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 10px;
  display: flex;
}
.menu li a {
  font-size: 1.5em;
  color: #ff8562;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}

.main {
  text-align: center;
  margin-top: 80px;
}
.main section {
  margin: 130px 0;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}

.section__main {
  width: 100%;
}
.section__main .logo {
  width: 390px;
  margin: 0 auto;
}
.section__main .logo .logo__years {
  position: relative;
}
.section__main .logo .logo__years .years {
  position: absolute;
  left: 170px;
  top: 0;
  font-size: 80px;
}
.section__main .logo .logo__years .y__txt {
  top: 90px;
}
.section__main .logo .logo__years .img__logo {
  width: 100%;
}

.img1 img {
  position: absolute;
  width: 500px;
  transform: rotate(0.25turn);
  left: -200px;
  opacity: 0.4;
  z-index: -1;
  overflow: hidden;
}

.img1 img {
  position: fixed;
  width: 500px;
  transform: rotate(0.25turn);
  left: -150px;
  top: 0;
  opacity: 0.2;
  z-index: -1;
  overflow: hidden;
}

.img__right {
  position: relative;
  overflow: hidden;
}
.img__right img {
  position: fixed;
  width: 600px;
  transform: rotate(-0.25turn);
  right: -150px;
  bottom: -200px;
  opacity: 0.2;
  z-index: -1;
}

@media screen and (max-width: 390px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 300px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 445px) {
  .section__main .logo {
    width: 100%;
    max-width: 300px; /* Уменьшите максимальную ширину по вашему усмотрению */
  }
  .section__main .logo .logo__years .years {
    left: 150px;
    font-size: 60px; /* Уменьшите размер шрифта по вашему усмотрению */
  }
  .section__main .logo .logo__years .y__txt {
    top: 60px; /* Уменьшите значение top по вашему усмотрению */
  }
  .section__main .logo .logo__years .img__logo {
    max-width: 100%; /* Сделайте изображение адаптивным по ширине */
  }
}
@media (max-width: 390px) {
  .section__main .logo {
    width: 100%;
    max-width: 250px; /* Уменьшите максимальную ширину по вашему усмотрению */
  }
  .section__main .logo .logo__years .years {
    font-size: 50px; /* Уменьшите размер шрифта по вашему усмотрению */
    left: 120px;
  }
  .section__main .logo .logo__years .y__txt {
    top: 60px; /* Уменьшите значение top по вашему усмотрению */
  }
  .section__main .logo .logo__years .img__logo {
    max-width: 100%; /* Сделайте изображение адаптивным по ширине */
  }
}
.fade-in {
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 2s; /* длительность анимации в 1 секунду */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated-element {
  position: absolute;
  animation: move-around 5s linear infinite; /* Бесконечная анимация */
}

@keyframes move-around {
  0%, 100% {
    transform: translate(0, 0); /* начальная и конечная позиция (нет движения) */
  }
  25% {
    transform: translate(2%, 0); /* движение вправо */
  }
  50% {
    transform: translate(5px, 5px); /* движение вправо и вниз */
  }
  75% {
    transform: translate(0, 5px); /* движение влево */
  }
}

/*# sourceMappingURL=style.css.map */
